.product {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  margin: 20px;
  display: block;
  background: white;
  position: relative;
  width: 400px;
  height: 500px;
}

.img {
  height: 150px;
  width: auto;
  position: absolute;
  top: 320px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.title {
  position: relative;
  left: 30px;
  top: 10px;
  display: inline-flex;
  width:50%;
  font-size: 15px;
}

.icon {
  position: relative;
  heigth: 25px;
  width: 20px;
  float: right;

  margin: 10px;
}

.icon:hover {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
  cursor: pointer;
}

.text{
  position: relative;
  height: 200px;
  width: 350px;
  bottom: -20px;
  padding: 10px;
  left: 10px;
  text-align: start;
  word-wrap:break-word;
  overflow-x: hidden;
}
.seeMore{
  position: absolute;
  bottom: 20px;
  right: 20px;
}

